# Random Forest 사용해보기

## Stage1. featured data 불러오기

In [1]:
import pandas as pd
import numpy as np

In [2]:
# train data 불러오기
df = pd.read_csv('data/titanic_train_featured.csv')
df.head()

,Unnamed: 0,Survived,Pclass,Sex,Age,Fare,Cabin,Embarked,FamilySize,IsAlone
0,0,0,3,0,2.0,7.2500,0,0,1,0
1,1,1,1,1,3.0,71.2833,0,1,1,0
2,2,1,3,1,2.0,7.9250,0,0,0,1
3,3,1,1,1,3.0,53.1000,0,0,1,0
4,4,0,3,0,3.0,8.0500,0,0,0,1

In [3]:
# test data 불러오기
df_tst = pd.read_csv('data/titanic_test_featured.csv')
df_tst.head()

   Unnamed: 0  Pclass  Sex  Age     Fare  Cabin  Embarked  FamilySize  IsAlone
0           0       3    0  3.0   7.8292      0         2           0        1
1           1       3    1  4.0   7.0000      0         0           1        0
2           2       2    0  5.0   9.6875      0         2           0        1
3           3       3    0  2.0   8.6625      0         0           0        1
4           4       3    1  2.0  12.2875      0         0           2        0

## Stage2. Random Forest 구현하기

#### 이번엔 valid set도 학습에 이용하기!!

In [4]:
from sklearn.model_selection import train_test_split

x_train = df.drop('Survived', axis=1)
y_train = df['Survived']

# x_train, x_valid, y_train, y_valid = train_test_split(train_data, target_data) -> 이건 valid set 만들 때 쓰는 것!!

print(x_train.shape, y_train.shape)

(891, 9) (891,)

#### 파라미터 변경시켜가며 최적의 조합 찾기

In [5]:
from sklearn.ensemble import RandomForestClassifier
# forest=RandomForestClassifier(n_estimators=10, max_depth=1) 0.7755331088664422
# forest=RandomForestClassifier(n_estimators=10, max_depth=3) 0.8114478114478114
# forest=RandomForestClassifier(n_estimators=10, max_depth=5) 0.8709315375982043
# forest=RandomForestClassifier(n_estimators=10, max_depth=8) 0.9124579124579124
# forest=RandomForestClassifier(n_estimators=10, max_depth=10) 0.9371492704826038
# forest=RandomForestClassifier(n_estimators=100, max_depth=2) 0.8035914702581369
# forest=RandomForestClassifier(n_estimators=100, max_depth=4)  0.8529741863075196
# forest=RandomForestClassifier(n_estimators=100, max_depth=6) 0.8821548821548821
# forest=RandomForestClassifier(n_estimators=100, max_depth=8) 0.9281705948372615
# forest=RandomForestClassifier(n_estimators=100, max_depth=10) 0.9528619528619529
forest=RandomForestClassifier(n_estimators=100, max_depth=15)
forest.fit(x_train, y_train) 
print('train set accuracy:', forest.score(x_train, y_train))

train set accuracy: 0.9943883277216611

In [6]:
prediction  = forest.predict(df_tst)
prediction

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)