## Ex1. 우수고객 예측

In [1]:
import pandas as pd
df=pd.read_csv('data/my_customers.csv')
df

            ID  우수고객분류   이름  나이      성별  지역      관심사
0          cdg       1  최도근  10    male  서울       축구
1       leekun       0  이헌영  42    male  서울       축구
2         son7       0  손흥민  38  female  경기  esports
3  parklangers       1  박지성  12    male  서울       축구
4   bluedragon       0  이청용  22  female  경기  esports
5         tuna       1  지동원  11    male  서울       야구
6          key       1  기성용  19  female  경기       축구
7        koojc       0  구자철  28    male  제주  esports

In [2]:
#df.loc[조건, 선택할 열] = 값
df.loc[df['성별']=='male', '성별'] = 0
df.loc[df['성별']=='female', '성별'] = 1
df.loc[df['지역']=='서울', '지역'] =0
df.loc[df['지역']=='경기', '지역'] =1
df.loc[df['지역']=='제주', '지역'] =2
df.loc[df['관심사']=='축구', '관심사'] =0
df.loc[df['관심사']=='야구', '관심사'] =1
df.loc[df['관심사']=='esports', '관심사'] =2

df

            ID  우수고객분류   이름  나이  성별  지역  관심사
0          cdg       1  최도근  10   0   0    0
1       leekun       0  이헌영  42   0   0    0
2         son7       0  손흥민  38   1   1    2
3  parklangers       1  박지성  12   0   0    0
4   bluedragon       0  이청용  22   1   1    2
5         tuna       1  지동원  11   0   0    1
6          key       1  기성용  19   1   1    0
7        koojc       0  구자철  28   0   2    2

In [3]:
#여기선 데이터 수가 적으므로 train_test_splt을 할 필요 없음
#input data 설정
x_train = df[['나이','성별','지역','관심사']]
#target data 설정
y_train = df['우수고객분류']

In [4]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
forest.fit(x_train, y_train)
forest.score(x_train, y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

1.0

In [5]:
df_test = pd.read_csv('data/new_customers.csv')
df_test

        ID   이름  나이      성별  지역 관심사
0  tseter1  이강인  10    male  서울  축구
1  tester2  이승우  25  female  경기  야구

In [6]:
df_test.loc[df_test['성별']=='male', '성별'] = 0
df_test.loc[df_test['성별']=='female', '성별'] = 1
df_test.loc[df_test['지역']=='서울', '지역'] =0
df_test.loc[df_test['지역']=='경기', '지역'] =1
df_test.loc[df_test['지역']=='제주', '지역'] =2
df_test.loc[df_test['관심사']=='축구', '관심사'] =0
df_test.loc[df_test['관심사']=='야구', '관심사'] =1
df_test.loc[df_test['관심사']=='esports', '관심사'] =2

df_test

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

        ID   이름  나이  성별  지역  관심사
0  tseter1  이강인  10   0   0    0
1  tester2  이승우  25   1   1    1

In [7]:
x_test = df_test[['나이','성별','지역','관심사']]

x_test

   나이  성별  지역  관심사
0  10   0   0    0
1  25   1   1    1

In [8]:
predict = forest.predict(x_test)
predict

array([1, 0], dtype=int64)

In [9]:
x_test['우수고객분류'] = predict
x_test

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   나이  성별  지역  관심사  우수고객분류
0  10   0   0    0       1
1  25   1   1    1       0

In [10]:
forest.predict([[23,1,1,0],[23,0,0,0]])

array([1, 1], dtype=int64)

## Ex2. good or bad

In [11]:
df=pd.read_csv('data/good_or_bad.csv')
df

     name  good or bad  age  address  money
0     tom            1   20        0  10000
1    andy            1   25        1  15000
2    josh            1   30        1  18000
3    mark            0   45        2    300
4  joseph            0   28        3     10

In [12]:
x_train = df[['age','address','money']]
y_train = df['good or bad']

x_train

   age  address  money
0   20        0  10000
1   25        1  15000
2   30        1  18000
3   45        2    300
4   28        3     10

In [13]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)
tree.score(x_train, y_train)

1.0

In [14]:
tree.predict(x_train)

array([1, 1, 1, 0, 0], dtype=int64)

In [15]:
tree.predict([
    [24,1,15000],
    [70,2,400]
])

array([1, 0], dtype=int64)